/* font-family: "Roboto", sans-serif;
  font-weight: 500; */

/* font-family: "Mulish", sans-serif;
  font-weight: <weight>; */

body {
  font-family: var(--main-font-family);
  font-weight: 500;
}

/* Components */

[class*='__container'] {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  font-weight: 700;
  color: #458ff6;
  border: 1px solid #458ff6;
  background-color: transparent;
  padding: 20px 40px;
  border-radius: 55px;

  transition: all 0.3s ease;
}

.button:hover {
  color: var(--button-second-text-color);
  background-color: var(--button-main-text-color);
}

.button__fill {
  color: var(--button-second-text-color);
  background-color: var(--button-main-text-color);

  transition: all 0.3s ease;
}

.button__fill:hover {
  color: var(--button-main-text-color);
  background-color: transparent;
  border: 1px solid #458ff6;
}

.logo {
  font-weight: 700;
  font-size: 24px;

  transition: all 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

/* Header */
.header {
  background-color: var(--main-bg-color);
}

.header__container {
  padding-bottom: 196px;
  min-height: 100vh;
}
.header__row {
  padding-top: 96px;
  padding-bottom: 30px;

  max-width: 1030px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 354px; */

  position: sticky;
  top: -50px;
  background-color: var(--main-bg-color);
}

.header__mobile-row {
  display: none;
}

.header__logo {
  color: var(--header-logo-color);
}

.header__menu {
  display: block;
}

.header__list {
  display: flex;
  gap: 73px;

  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  color: #1f1534;
}

.header__item {
}

.header__item-link {
  transition: all 0.5s ease;
}

.header__item-link:hover {
  transform: scale(1.1);
}

.header__item--accent,
.header__item-mobile--accent {
  font-weight: 700;
  color: #2e4e92;
}
.hero {
  margin-top: 115px;

  display: flex;
}
.hero__content {
  padding-top: 39px;
}
.hero__title {
  font-size: 48px;
  font-weight: 700;
  color: #3c567b;
  line-height: 56px;
}
.hero__text {
  margin-top: 50px;
  max-width: 525px;

  font-family: var(--additional-font-family);
  font-size: 19px;
  font-weight: 500;
  color: #93c1f9;
  line-height: 27px;
}
.hero__button {
  margin-top: 90px;
}
.hero__img {
  max-width: 100%;
}

/* Main */
.services__wrapper {
  background-color: var(--additional-bg-color);
}

.services__container {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 87px;
}
.main__title {
  color: var(--sections-title-text-color);
  font-size: 45px;
  font-weight: 700;
  line-height: 56px;
}
.main__label {
  margin-top: 36px;
  max-width: 766px;
  display: inline-block;

  color: #a7a7a7;
  font-size: 19px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.2px;
}
.main__cards {
  margin-top: 111px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 36px;
}
.card {
  background-color: #ffffff;
  padding: 47px 0;
  border-radius: 20px;
}
.card__img {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__title {
  color: var(--services-title-text-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0;
}
.card__text {
  color: var(--services-text-color);
  max-width: 260px;
  display: inline-block;
  text-align: left;

  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0;
}
.cards__button {
  margin-top: 69px;
}
/* Providers main */
.providers__wrapper {
  background-color: var(--main-bg-color);
}
.providers__container {
  padding-top: 103px;
  padding-bottom: 168px;
  display: flex;
  flex-direction: column;
  gap: 214px;
}

.providers__row {
  display: flex;
  justify-content: space-between;
}

.providers__row--revers {
  flex-direction: row-reverse;
}

.providers__img {
  max-width: 100%;
}
.providers__content {
  margin-top: 52px;
  max-width: 475px;
}
.providers__title {
  color: var(--sections-title-text-color);
  font-size: 36px;
  text-align: left;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0;
}

.providers__title--wide {
  max-width: 480px;
}

.providers__text {
  max-width: 410px;
  margin-top: 59px;

  color: var(--sections-additional-text-color);
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0;
}

.providers__text--short {
  max-width: 380px;
}

.providers__button {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 8px;

  transition: all 0.3s ease;
}

.providers__button path {
  fill: var(--button-main-text-color);

  transition: all 0.3s ease;
}

.providers__button:hover path {
  fill: var(--button-second-text-color);
}

.find__wrapper {
  background-color: var(--additional-bg-color);
}
.find__container {
  padding-top: 219px;
  padding-bottom: 229px;
}

.find__tittle--short {
  max-width: 390px;
}

.providers__title--short {
  max-width: 370px;
}

.signup__wrapper {
  background-color: var(--additional-bg-color);
}
.signup__container {
  padding-bottom: 240px;
  max-width: 1310px;
  margin: 0 auto;
}

.form__block {
  padding-top: 88px;
  padding-bottom: 75px;

  background: var(--gradient-bg-color);
  border-radius: 24px;
}

.signup__form {
  max-width: 508px;
  text-align: center;
  margin: 0 auto;

  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.form__title {
  margin-bottom: 39px;
  color: var(--footer-common-text-color);

  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0;
}
.form__input {
  min-width: 100%;

  background-color: transparent;
  border-bottom: 2px solid #ffffff;

  padding-left: 19px;
  padding-top: 17px;
  padding-bottom: 17px;
  outline: none;

  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0;
}

.form__input::placeholder {
  color: #ffffff;
}

.signup__form .form__input:not(:last-of-type) {
  margin-bottom: 40px;
}
.form__button {
  width: 100%;
  margin-top: 55px;
  color: var(--button-second-text-color);
  border-color: var(--button-second-text-color);
  font-size: 24px;

  transition: all 0.5s ease;
}

.form__button:hover {
  color: var(--button-main-text-color);
  background-color: var(--button-second-text-color);
}

/* Footer */
/* url(max-width:%20500px%3b)  */

.footer {
  background: var(--gradient-bg-color);
  color: var(--footer-common-text-color);
}
.footer__container {
  padding-top: 120px;
  padding-bottom: 90px;

  display: flex;
  gap: 260px;
}

.footer__column {
}

.footer__logo {
}
.footer__text {
  margin-top: 20px;
  max-width: 355px;

  font-size: 18px;
  font-family: var(--additional-font-family);
  font-weight: 500;
  line-height: 27px;
}
.footer__copyright {
  margin-top: 30px;

  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}
.footer__label {
  font-weight: 700;
  font-size: 20px;
}
.footer_menu {
  margin-top: 20px;
}
.footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__item {
  font-weight: 300;
  font-size: 18px;
}
.footer__link {
  transition: scale 0.5s ease;
}

.footer__link:hover {
  scale: 1.1;
}

/* Modal */

.modal-overlay {
  display: none;

  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: rgb(60, 60, 60, 0.8);
}

.box-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.modal-overlay.open {
  display: block;
}

.modal-close {
  position: absolute;

  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 1px 10px;
  transition: all 0.3s ease;
}

.modal-close:hover {
  color: #6888c8;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.modal-overlay.open .form__input {
  width: 100%;
}

.modal-overlay.open .form__block {
  padding-left: 50px;
  padding-right: 50px;
}

/* TOP button */
.go-top {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 5%;
  cursor: pointer;
  opacity: 0;
  font-size: 60px;

  transition: opacity 0.4s ease;
}
.go-top svg {
  transform: scale(2);
}
.go-top path {
  fill: rgba(0, 51, 153, 0.8);
}
.go-top:hover path {
  fill: var(--button-main-text-color);
}
.go-top--show {
  opacity: 1;
}

/* MEDIA */
@media (max-width: 1024px) {
  .button {
    font-size: 20px;
  }
  .header__container {
    padding-bottom: 20px;
  }
  .header__row {
    padding-top: 50px;
  }
  .header__list {
    font-size: 24px;
    gap: 50px;
  }
  /* .logo {
    font-size: 36px;
  } */
  .hero {
    flex-direction: column-reverse;
    margin-top: 20px;
    align-items: center;
    text-align: center;
  }
  .hero__content {
    padding-top: 0;
    margin-top: 20px;
  }
  .hero__text {
    margin: 40px auto 0;
    max-width: 650px;
    font-size: 24px;
  }
  .hero__button {
    margin-top: 50px;
  }
  .services__container {
    padding: 50px 20px;
  }
  .main__cards {
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  .card__text {
    max-width: 350px;
    font-size: 18px;
  }
  .cards__button {
    margin-top: 50px;
  }
  .providers__container {
    gap: 50px;
    padding-top: 0;
    padding-bottom: 50px;
  }
  .providers__row {
    flex-direction: column;
    align-items: center;
  }
  .providers__content {
    max-width: 775px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .providers__title {
    text-align: center;
  }
  .providers__text {
    margin-top: 20px;
    max-width: 720px;
  }
  .find__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .find__tittle--short {
    max-width: inherit;
  }
  .signup__container {
    padding-top: 50px;
    padding-bottom: 150px;
  }
}

@media (max-width: 850px) {
  .logo {
    font-size: 36px;
  }
  .button {
    font-size: 22px;
  }
  .header__row {
    display: none;
  }
  .header__mobile-row {
    display: block;

    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__list {
    display: block;
    font-size: 40px;
    color: #ffffff;
  }
  .header__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .hero {
    margin-top: 0;
  }
  .hero__content {
    margin-top: 0;
  }
  .hero__title {
    margin: 0 auto;
    max-width: 500px;
    font-size: 52px;
  }
  .hero__text {
    max-width: 650px;
    margin-top: 25px;
  }
  .hero__button {
    margin-top: 30px;
  }
  /* Mobile menu */
  .header__menu {
    display: none;
  }

  .button__burger {
    position: relative;
    z-index: 1;

    width: 40px;
    height: 40px;
    background-color: transparent;
  }
  .button__burger-line {
    display: inline-block;
    position: absolute;
    left: 5px;

    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--button-main-text-color);
    transform: translateY(0) rotate(0);

    transition: background-color 0.3s, transform 0.3s;
  }
  .button__burger-line:nth-child(1) {
    transform: translateY(10px);
  }
  .button__burger-line:nth-child(3) {
    transform: translateY(-10px);
  }
  .header__mobile-row .header__menu-mobile {
    display: none;
    /* opacity: 0; */

    position: absolute;
    background: var(--gradient-bg-color);
    top: 0;
    right: 0;
    padding: 80px 50px;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  .header__mobile-row.active .header__menu-mobile {
    /* opacity: 1; */
    display: block;

    transform: translateX(0);
    transition: transform 0.5s ease;
  }
  .header__mobile-row.active .header__list {
    /* display: block; */
  }
  .header__mobile-row.active .button__burger-line {
    background-color: #ffffff;
    transform: rotate(0);
    opacity: 1;

    transition: transform 0.4s ease, opacity 0.4s ease,
      background-color 0.5s ease-in;
  }
  .header__mobile-row.active .button__burger-line:nth-child(1) {
    transform: translateY(0) rotate(-45deg);
  }
  .header__mobile-row.active .button__burger-line:nth-child(2) {
    opacity: 0;
  }
  .header__mobile-row.active .button__burger-line:nth-child(3) {
    transform: translateY(0) rotate(45deg);
  }
  .card__text {
    max-width: 250px;
    text-align: center;
    text-wrap: balance;
  }
  .form__title {
    font-size: 29px;
  }
  .form__button {
    font-size: 20px;
  }
  .providers__container {
    gap: 20px;
  }
  .providers__text {
    max-width: 550px;
    text-align: center;
  }
  .footer__container {
    gap: 100px;
  }
  .signup__form .form__input {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 0;
    font-size: 22px;
  }
}

@media (max-width: 675px) {
  .hero {
    padding-top: 2em;
  }
  .hero__title {
    font-size: 48px;
  }
  .hero__text {
    max-width: 500px;
    font-size: 18px;
    text-wrap: balance;
  }
  .modal-overlay.open .form__block {
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal-overlay.open .form__input {
    padding-bottom: 0px;
  }
  .form__title {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .logo.header__logo {
    font-size: 26px;
  }
  .main__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card__title {
    font-size: 32px;
  }
  .card__text {
    max-width: 500px;
    font-size: 20px;
  }
  .main__title {
    line-height: 50px;
  }
  .card__text {
    font-size: 20px;
  }
  .providers__title {
    line-height: 42px;
  }
  .providers__text {
    text-wrap: balance;
  }
  .signup__form {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer__container {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 60px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .hero__title {
    font-size: 40px;
    line-height: 44px;
  }
  .hero__text {
    max-width: 400px;
    font-size: 16px;
  }
  .hero__button {
    margin-top: 15px;
  }
  .button {
    font-size: 18px;
    padding: 15px 40px;
  }
  .hero__button {
    margin-top: 25px;
  }
  .providers__title {
    font-size: 32px;
  }

  .footer__text {
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  .logo {
    font-size: 36px;
  }
  .header__list {
    font-size: 30px;
  }
  .hero__title {
    margin-top: 20px;
    font-size: 32px;
    line-height: 34px;
  }
  .hero__text {
    text-wrap: balance;
  }
  .hero__button {
    margin-top: 35px;
  }
  .box-modal .form__input {
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 400;
    font-size: 22px;
  }
}

@media (max-width: 410px) {
  .form__title {
    margin-bottom: 20px;
    font-size: 22px;
  }
}
@media (max-width: 350px) {
  .card__text {
    max-width: 250px;
  }
  .form__title {
    font-size: 19px;
  }
  .signup__form .form__input:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .form__block {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .form__input {
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 400;
  }
  .box-modal .form__input {
    font-size: 18px;
  }
}
